@import "../../../mixins.scss";

.section {
    background-color: #deddd61a;
    
}
@include sm{
    .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

}


@include md{
    .row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
}

.section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    margin: 5%;
}

.section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    margin: 5%;
}

.section-img {
    width: 370px;
    margin-bottom: 20px;
    border-radius: 25px;
    @include md {
        display: none;
    }

}

.button{
    border: 0px;
}
.container{
    display: flex;
    justify-content: center;
}

.medium{
    display:none;
    @include md{
        display: block;
       
        width: 380px;
        overflow: hidden;
    }
}
